body{
    background: rgb(255,180,213);
    background: linear-gradient(45deg, rgba(255,180,213,1) 0%, rgba(255,214,167,1) 50%, rgba(176,255,247,1) 100%);
}

.gallery{
    margin-top: 7.5vh;
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    min-width: 90vh;
}

.gallery > *{
    width: fit-content;
    max-height: 79vh;
    border-radius: 10px;
}